/*公共样式*/

/*样式重置*/
html ,body ,ul,div ,li ,img , a , p,form,input {
    padding: 0;
    margin: 0;
    /*设置盒子模型*/
    box-sizing: border-box;
    /*去除移动端特有的点击高亮的效果*/
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: “微软雅黑”,sans-serif;
    font-size: 13px;
}

a,a:hover{
    text-decoration: none;
    color: #666;
}

ul{
    list-style: none;
}

input{
    /*清楚文本框获取焦点时候的默认边框的边框阴影*/
    outline: none;
    border: none;
    border:1px solid #ccc;
}


/*添加新的样式*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.m_left10{
    margin-left: 10px;
}
.m_right10{
    margin-right: 10px;
}
.m_top10{
    margin-top: 10px;
}

.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}
