

    /*样式初始化*/
*{
    padding: 0;
    margin: 0;
}
/*去掉列表样式*/
ul{
    list-style: none;
}
body{
    background-color: #f3f5f7;
}
input {
    border: 0;  /* 所有的表单边框为0 */
    box-sizing: border-box; /* CSS3盒子模型 border 和 padding 都包含到 width 里面去 */
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/*清除浮动*/
.clearfix:before,.clearfix:after{
    display: table;
    content: "";
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:1;
}

a{
    color: #555;
    text-decoration: none;
}

/*页面头部分*/
header{
    height: 100px;
    /*background-color: pink;*/
    overflow: hidden;
}
/*导航栏部分*/
nav{
    width: 1366px;
    height: 42px;
    /*background-color: purple;*/
    margin: 26px auto;
}
.logo{
    float: left;
}
.navbar{
    float: left;
    height: 42px;
    line-height: 42px;
}

.navbar li{
    float: left;
}
.navbar li a {
    padding: 0 8px;
    display: block;
    height: 42px;
}

.navbar li a:hover{
    border-bottom: 2px solid #00a4ff ;
}

.search{
    height: 38px;
    width: 410px;
    border: 1px solid #00a4ff;
    float: left;
}

.search input[type=text]{
    width: 360px;
    height: 38px;
    padding-left: 20px;
    float: left;

}

.search input[type=submit]{
    width: 50px;
    height: 38px;
    float: left;
    background: #00a4ff url("../images/search_06.png") center center  no-repeat;
}
.personal{
    float: right;
    height: 42px;
    line-height: 42px;
    margin: 0 15px 0 35px ;
}

.personal img{
    margin: 0 8px;
}

/*banner部分*/
.banner{
    height: 420px;
    background-color: #1c036c;
}
.banner-in{
    /*background-color: hotpink;*/
    height: 420px;
    background: url("../images/banner_03.png") 0 0 no-repeat;
    position: relative;
}

.slidebar{
    height: 420px;
    float: left;

    width: 190px;
    background: rgba(0,0,0,0.4);
}
/*.slidebar li */
.slidebar li a {
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    display: block;
    height: 45px;
    line-height: 45px;
}

.slidebar li a:hover{
    color: #00a4ff;
}


.slidebar li span{
    float: right;
    color: #fff;
    line-height: 45px;
}

/*小课表部分*/

.timetable {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}

.timetable dt {
    height: 50px;
    background-color: #9bceea;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.timetable dd{
    width: 193px;
    height: 60px;
    margin: 0 auto;
    /*background-color: purple;*/
    border-bottom: 1px solid #ccc;
    padding-top: 12px;
    box-sizing: border-box;
}
.timetable dd:last-child{
    border: 0;
}

.timetable dd h4{
    font-size: 16px;
    font-weight: normal;
    color: #4e4e4e;
}
.timetable dd p{
    font-size: 14px;
    color: #a5a5a5;
}
.timetable dd a {
    height: 38px;
    border: 1px solid #00a4ff;
    display: block;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-weight: 700;
}

.timetable dd a:hover{
    background-color: #00a4ff;
    color: #fff;
}
.circle{
    height: 22px;
    width: 180px;
    /*background-color: pink;*/
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -90px;
}

.circle li {
    height: 12px;
    width: 12px;
    float: left;
    background: rgba(255,255,255,0.5);
    margin: 6px 8px;
    border-radius: 50%;
}

.circle .current{
    width: 19px;
    border-radius: 6px;
    background: rgba(255,255,255,0.9);
}



/*精品推荐部分*/
.recommend{
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    margin-top: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.recommend a{
    padding : 0 30px;
    border-right: 1px solid #ccc;
}
.recommend a:first-child{
    color: #00a4ff;
}
.recommend a:hover{
    color: #00a4ff;
}
.recommend a:last-child{
    border: 0;
    color: #00a4ff;
    float: right;
    font-size: 14px;
}

.recom-products {
    margin-top: 35px;
}

.recom-head{
    height: 40px;
}

.recom-head h4{
    float: left;
    color: #494949;
}

.recom-head a{
    font-size: 14px;
    margin-top: 10px;
    color: #a5a5a5;
    float: right;
    margin-right: 30px;
}

.recom-head a:hover{
    color: #00a4ff;
}

.recom-bd ul li {
    width: 228px;
    height: 270px;
    /*background-color: pink;*/
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    float: left;
    margin-right : 15px;
    margin-top: 15px;
}

.recom-bd ul li:nth-child(5n){
    margin-right: 0;

}

.recom-bd li h5 , .recom-bd li p {
    padding:  0 20px 0 24px;
    margin-top: 12px;
}

.recom-bd li h5{
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
}

.recom-bd li p {
    font-size: 12px;
    color: #999;
}

.recom-bd li span{
    color: #ff7c2d;
}

/*底部样式*/

.footer{
    height: 270px;
    margin-top: 100px;
}

.footer-in{
    padding-top: 30px;
}

.footer-l{
    float: left;
}
.footer-l p {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
    color: #999;
}

.footer-l a{
    display: block;
    width: 118px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    font-size: 16px;
    margin-top: 15px;
}

.footer-r{
    float: right;
    color: #333;
}

.footer-r dl{
    float: right;
    width: 225px;
}
.footer-r dt {
    font-size: 16px;
    height: 30px;
}


.footer-r dd{
    font-size: 12px;
    height: 20px;
}

.footer-r dd a:hover{
    color: #00a4ff;
    text-decoration: underline;
}